.numero-carrito{
    font-size: x-small;
    position: absolute;
    right: 52px;
    top: -6px;
    color: white;
    text-align: center;
    background-color: lightslategrey;
    width: 20px;
    border-radius: 500px;
}