.header{
  background-color: #025951;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
}

.header a {
  text-decoration: none;
  color : white;
  cursor: pointer;
}

.nav-active{
  font-weight: bold;
}

.header a:hover{
  opacity: 100%;
}


i{
  width: 50px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
}


.tr{
  opacity: 65%;
}
  