.figura{
    background-color: lightslategrey;
    display: inline-block;
    width: 300px;
    text-align: center;
    margin: 50px 100px 30px 100px;
}
.figura:hover{
    /* color: #D6D58E; */
    outline: 3px solid #D6D58E;

}
.header-titulo{
    font-size: x-large;
    margin: 7px 0 7px 0;
}

.descripcion-figura{
    margin: 3px 0 15px 0;
}

.detalle-producto:hover{
    background-color: lightslategrey;
}