.un-item{
    width: 400px;
    text-align: center;
    border: 1px solid;
    margin: 50px 20px 20px 20px;
    background-color: lightslategrey;

}
.titulo-item{
    text-decoration: underline;
    font-size: large
}

