.cart-container {
    display: inline-block;
}
.general{
    font-size: x-large;
    display: block;
    margin-top: 30px;
}
.txt-decoration{
    font-weight: bold;
}
.link-pagar{
    text-decoration: none;
}