.cart-container {
    display: flex;
    justify-content: space-between;
}

.general{ 
    font-size: x-large;
    margin-top: 30px;
}
.txt-decoration{
    font-weight: bold;
}
.link-pagar{
    text-decoration: none;
}

.carrito-vacio{
    text-align: center;
    font-size: xx-large;
    background-color: lightslategray;
    width: 320px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 25px;
}
.div-btn{
    text-align: center;
}
.btn-inicio{
    font-size: large;
    border-radius: 5px;
}
.inicio-link{
    text-decoration: none;
}
.total{
    text-align: center;
}
.btns{
    text-align: center;
    background-color: lightslategrey;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
    border-radius: 55px;
}
.btn{
    margin: 20px 50px 0 50px;
    border-radius: 100px;
    border: 1px solid lightslategray;
}