.contador{
    border: 1px solid white;
    margin: 0px auto 10px auto;
    display: flex;
    justify-content: space-between;
}
.boton{
    margin: 10px;
    text-align: center;
    width: 50px;
}
.productos{
    width: 20px;
    text-align: center;
}
.agregar{
    width: 80px;
}
.suma, .resta{
    font-size: large;
}