.nav-contenedor{
    background-color: #005C53;
}
.App{
    padding-top: 0.1px;
    background-color: #005C53;
}
.lista{
    display: flex;
    justify-content: space-between
}

.contenido{
    margin-right: 30px;
    text-decoration: none;
    color: #D6D58E;
    /* background-color: red; */
}
.contenido:hover{
    border-bottom: 1px solid;
   
}