body{
  background-color: #034159;
  color: white;
}

header{
  background-color: #025951;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.titulo{
  text-align: center;
  width: 70px;
  margin: 0;
  margin-left: 15px;
  margin-right: 10px;
}
input{
  background-color: lightgray;
  width: 325px;
}
input:hover{
  background-color: white;
}

i{
  width: 50px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;

}
i:hover{
  border-bottom: 1px solid;
}
.titulo:hover{
  border-bottom: 1px solid;
}
.texto{
  margin: 10px 8px 0 10px;
}


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
