body{
  background-color: #034159;
  color: white;
}

header{
  background-color: #025951;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.titulo{
  text-align: center;
  width: 70px;
  margin: 0;
  margin-left: 15px;
  margin-right: 10px;
}
input{
  background-color: lightgray;
  width: 325px;
}
input:hover{
  background-color: white;
}

i{
  width: 50px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;

}
i:hover{
  border-bottom: 1px solid;
}
.titulo:hover{
  border-bottom: 1px solid;
}
.texto{
  margin: 10px 8px 0 10px;
}


.contador{
  background-color: lightslategrey;
  border: 1px solid white;
  width: 350px;
  margin: 30px auto 0 auto;
  display: flex;
  justify-content: space-between;
}

.boton{
  margin: 10px;
  /* background-color: lightcoral; */
  text-align: center;
  width: 50px;
}

.productos{
  width: 20px;
  text-align: center;
}

.agregar{
  width: 80px;
}