.container-figure{
    text-align: center;
    background-color: lightslategray;
    display: inline-block;
    width: 100%;
    height: 100%;
    outline: 1px solid ;
}
.titulo-figura{
    margin: 10px 0 20px 0;
    border-bottom: 1px solid white;
    font-size: x-large;
} 

.descripcion-figura{
    margin: 25px 20px 10px 20px;
}
.price-figura{
    background-color: green;
    width: 50px;
    text-align: center;
    margin: 10px auto 15px auto;
    border-radius: 20px;
    border: 1px solid white;
    
}